.display-fecha-hora {
    width: 130px;
    height: 101px;
}

.valor {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-family: 'Triforce', sans-serif;
}

.tipo {
    margin-top: 21px;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-family: 'Triforce', sans-serif;
}

@media only screen and (min-width: 0) and (max-width: 743px) {
    .valor {
        font-size: 32px;
    }

    .tipo {
        font-size: 18px;
    }
}