.locacion-container {
    text-align: center;
    color: #FFFFFF;
}

.type {
    background: linear-gradient(180deg, #A48824 0%, #D1B861 54.69%, #937713 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Triforce';
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    margin-top: 18px;
}

.locacion-title {
    margin-top: 24px;
    font-family: 'Triforce';
    font-size: 28px;
    line-height: 27px;
}

.direccion {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Chapman';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 235px;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
}

.hora {
    font-family: 'Triforce';
    font-size: 28px;
    line-height: 27px;
    margin-bottom: 24px;
}