.boton {
    width: 135px;
    height: 47px;
    background: #CFB14A;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: 'Triforce';
    font-size: 28px;
    line-height: 27px;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    color: #174A21;
}

.boton:hover {
    background: #937713;
}

.boton:active {
    background: #174A21;
    color: #CFB14A;
}

.boton:disabled {
    background: #B4B4B4;
    color: #4B594D; 
}


